h1{
    font-size: 4em;
    color: #fff;
    display: flex;
    font-family: Georgia, 'Times New Roman', Times, serif;
    align-items: center;
    width: 100%;
    position: absolute;
    justify-content: center;
}

	* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  /* for touch screen laptop */
  touch-action: none; 
}

body {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: linear-gradient(to right, rgb(0, 0, 0) 0%, #313131 51%, #5a5a5a 100%) !important;
  -webkit-perspective: 1000px;
          perspective: 1000px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

#drag-container, #spin-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: rotateX(-10deg);
          transform: rotateX(-10deg);
}

#drag-container img, #drag-container video {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  position: absolute;
  left: 0;
  top: 0;
  width: 125%;
    height: 120%;
  line-height: 200px;
  font-size: 50px;
  text-align: center;
  -webkit-box-shadow: 0 0 8px #fff;
          box-shadow: 0 0 8px #fff;
  -webkit-box-reflect: below 10px linear-gradient(transparent, transparent, #0005);
  object-fit: cover;
}

#drag-container img:hover, #drag-container video:hover {
  -webkit-box-shadow: 0 0 15px rgba(211, 211, 211, 0.867);
          box-shadow: 0 0 15px rgba(255, 255, 255, 0.867);
  -webkit-box-reflect: below 10px linear-gradient(transparent, transparent, #0007);
  
}

#drag-container p {
  font-family: Serif;
  position: absolute;
  top: 100%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%) rotateX(90deg);
          transform: translate(-50%,-50%) rotateX(90deg);
  color: rgb(0, 0, 0);
}

#ground {
  width: 900px;
  height: 900px;
  position: absolute;
  top: 125%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%) rotateX(90deg);
          transform: translate(-50%,-50%) rotateX(90deg);
  background: -webkit-radial-gradient(center center, farthest-side , #fff, transparent);
}

#music-container {
  position: absolute;
  top: 0;
  left: 0;
}

@-webkit-keyframes spin {
  from{
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  } to{
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}

@keyframes spin {
  from{
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  } to{
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}
@-webkit-keyframes spinRevert {
  from{
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  } to{
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
}
@keyframes spinRevert {
  from{
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  } to{
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
}

#formulaireConnexion{
  text-align: center;
  background-color: #ffffff;
  z-index: 1000;
  padding: 0px 25px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: fixed;
    min-width: 200px;
    box-shadow: 0px 0px 15px 5px rgb(255, 255, 255);
    display: none;
   animation: formulaireConnexion 2s;
   border-radius: 10px; 

}

.section{

  width: auto;
  
}
p{
    font-size: 1em;
    margin: 5px;
    font-family: cursive;

  }
  .text-ajust{
    font-size: 2em;
    font-family: fantasy;
  }
#formulaireConnexion button{
  text-decoration: none;
padding: 10px;
font-family: arial;
font-size: 1em;
color: #FFFFFF;
background-color: #000000;
border-radius: 24px;
-webkit-border-radius: 24px;
-moz-border-radius: 24px;
border: 4px solid #FFFFFF;
box-shadow: 3px 3px 12px #444444;
-webkit-box-shadow: 3px 3px 12px #444444;
-moz-box-shadow: 3px 3px 12px #444444;
}
#formulaireConnexion button:hover{
  padding: 10px;
  background-color: #02accace;
  box-shadow: 1px 1px 4px #777777;
  -webkit-box-shadow: 1px 1px 4px #777777;
  -moz-box-shadow: 1px 1px 4px #777777;
}

.section{
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  top: 7rem;
}

#projetReservia button{
  text-decoration: none;
padding: 10px;
font-family: arial;
font-size: 1em;
color: #FFFFFF;
background-color: #000000;
border-radius: 24px;
-webkit-border-radius: 24px;
-moz-border-radius: 24px;
border: 4px solid #FFFFFF;
box-shadow: 3px 3px 12px #444444;
-webkit-box-shadow: 3px 3px 12px #444444;
-moz-box-shadow: 3px 3px 12px #444444;
}
#projetReservia button:hover{
  padding: 10px;
  background-color: #02accace;
  box-shadow: 1px 1px 4px #777777;
  -webkit-box-shadow: 1px 1px 4px #777777;
  -moz-box-shadow: 1px 1px 4px #777777;
}
#projetReservia{
  background-color: #ffffff; 
  z-index: 1000;
  padding: 40px 60px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: fixed;
    min-width: 200px;
    box-shadow: 0px 0px 15px 5px rgb(255, 255, 255);
    display: none;
    text-align: center;
    animation: projetReservia 2s;
    border-radius: 10px;
    
}



#projetOhmyfood button{
  text-decoration: none;
  padding: 10px;
  font-family: arial;
  font-size: 1em;
  color: #FFFFFF;
  background-color: #000000;
  border-radius: 24px;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  border: 4px solid #FFFFFF;
  box-shadow: 3px 3px 12px #444444;
  -webkit-box-shadow: 3px 3px 12px #444444;
  -moz-box-shadow: 3px 3px 12px #444444;
  }
  #projetOhmyfood button:hover{
    padding: 10px;
    background-color: #02accace;
    box-shadow: 1px 1px 4px #777777;
    -webkit-box-shadow: 1px 1px 4px #777777;
    -moz-box-shadow: 1px 1px 4px #777777;
  }

#projetOhmyfood{
  background-color: #ffffff; 
  z-index: 1000;
  padding: 40px 60px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: fixed;
    min-width: 200px;
    box-shadow: 0px 0px 15px 5px rgb(255, 255, 255);
    display: none;
    text-align: center; 
    animation: projetOhmyfood 2s;
    border-radius: 10px;  
}


#projetChouette button{
  text-decoration: none;
  padding: 10px;
  font-family: arial;
  font-size: 1em;
  color: #FFFFFF;
  background-color: #000000;
  border-radius: 24px;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  border: 4px solid #FFFFFF;
  box-shadow: 3px 3px 12px #444444;
  -webkit-box-shadow: 3px 3px 12px #444444;
  -moz-box-shadow: 3px 3px 12px #444444;
  }
  #projetChouette button:hover{
    padding: 10px;
    background-color: #02accace;
    box-shadow: 1px 1px 4px #777777;
    -webkit-box-shadow: 1px 1px 4px #777777;
    -moz-box-shadow: 1px 1px 4px #777777;
  }



#projetChouette{
  background-color: #ffffff; 
  z-index: 1000;
  padding: 40px 60px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: fixed;
    min-width: 200px;
    box-shadow: 0px 0px 15px 5px rgb(255, 255, 255);
    display: none;
    text-align: center;
    animation: projetChouette 2s;
    border-radius: 10px;
}





#projetOrinoco button{
  text-decoration: none;
  padding: 10px;
  font-family: arial;
  font-size: 1em;
  color: #FFFFFF;
  background-color: #000000;
  border-radius: 24px;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  border: 4px solid #FFFFFF;
  box-shadow: 3px 3px 12px #444444;
  -webkit-box-shadow: 3px 3px 12px #444444;
  -moz-box-shadow: 3px 3px 12px #444444;
  }
  #projetOrinoco button:hover{
    padding: 10px;
    background-color: #02accace;
    box-shadow: 1px 1px 4px #777777;
    -webkit-box-shadow: 1px 1px 4px #777777;
    -moz-box-shadow: 1px 1px 4px #777777;
  }


#projetOrinoco{
  background-color: #ffffff; 
  z-index: 1000;
  padding: 40px 60px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: fixed;
    min-width: 200px;
    box-shadow: 0px 0px 15px 5px rgb(255, 255, 255);
    display: none;
    text-align: center;
    animation: projetOrinoco 2s;
    border-radius: 10px;
}





#projetBebe button{
  text-decoration: none;
  padding: 10px;
  font-family: arial;
  font-size: 1em;
  color: #FFFFFF;
  background-color: #000000;
  border-radius: 24px;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  border: 4px solid #FFFFFF;
  box-shadow: 3px 3px 12px #444444;
  -webkit-box-shadow: 3px 3px 12px #444444;
  -moz-box-shadow: 3px 3px 12px #444444;
  }
  #projetBebe button:hover{
    padding: 10px;
    background-color: #02accace;
    box-shadow: 1px 1px 4px #777777;
    -webkit-box-shadow: 1px 1px 4px #777777;
    -moz-box-shadow: 1px 1px 4px #777777;
  }



#projetBebe{
  background-color: #ffffff; 
  z-index: 1000;
  padding: 40px 60px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: fixed;
    min-width: 200px;
    box-shadow: 0px 0px 15px 5px rgb(255, 255, 255);
    display: none;
    text-align: center;
    animation: projetBebe 2s;
    border-radius: 10px;
    
}

#projetContact button{
  text-decoration: none;
  padding: 10px;
  font-family: arial;
  font-size: 1em;
  color: #FFFFFF;
  background-color: #000000;
  border-radius: 24px;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  border: 4px solid #FFFFFF;
  box-shadow: 3px 3px 12px #444444;
  -webkit-box-shadow: 3px 3px 12px #444444;
  -moz-box-shadow: 3px 3px 12px #444444;
  }
  #projetContact button:hover{
    padding: 10px;
    background-color: #02accace;
    box-shadow: 1px 1px 4px #777777;
    -webkit-box-shadow: 1px 1px 4px #777777;
    -moz-box-shadow: 1px 1px 4px #777777;
  }

#projetContact{
  background-color: #ffffff; 
  z-index: 1000;
  padding: 40px 60px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: fixed;
    min-width: 200px;
    box-shadow: 0px 0px 15px 5px rgb(255, 255, 255);
    display: none;
    text-align: center;
    animation: projetContact 2s;
    border-radius: 10px;
}



@keyframes formulaireConnexion {
  0% {
    opacity: 0;
    transform: translateZ(80%);
  }
  100% {
    opacity: 1;
    transform: translateZ(0px);
  }
}

@keyframes projetReservia  {
  0% {
    opacity: 0;
    transform: translateZ(80%);
  }
  100% {
    opacity: 1;
    transform: translateZ(0px);
  }
}

@keyframes projetOhmyfood{
  0% {
    opacity: 0;
    transform: translateZ(80%);
  }
  100% {
    opacity: 1;
    transform: translateZ(0px);
  }
}

@keyframes projetChouette {
  0% {
    opacity: 0;
    transform: translateZ(80%);
  }
  100% {
    opacity: 1;
    transform: translateZ(0px);
  }
}

@keyframes projetOrinoco {
  0% {
    opacity: 0;
    transform: translateZ(80%);
  }
  100% {
    opacity: 1;
    transform: translateZ(0px);
  }
}

@keyframes projetBebe {
  0% {
    opacity: 0;
    transform: translateZ(80%);
  }
  100% {
    opacity: 1;
    transform: translateZ(0px);
  }
}

@keyframes projetContact {
  0% {
    opacity: 0;
    transform: translateZ(80%);
  }
  100% {
    opacity: 1;
    transform: translateZ(0px);
  }
}


@media screen and (min-width: 320px) and (max-width: 450px) {
  .section{
    top: 15rem;
  }
}
